<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add phonebok details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-5"><label for="phoneBookName">PhoneBook Name</label></div>
            <div class="col-5"><input type="text"></div>
        </div>
           

    </div>
    <div class="modal-footer">
       <div><button class="btn btn-dark" (click)="openEntryBookModal()">Add Entries</button></div> 
       <div><button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button></div>
    </div>        
        
    </ng-template>
        <button class="btn btn-dark" (click)="open(content)">Add PhoneBook</button>