<h1>All the Entries </h1>
<div class='row' style = 'padding: 20px 0 20px 0'> 
    <div class='col-4'><h5> Filter by Entries</h5></div>
    <div class='col-4'>
      <input #entryBookInput type="text" [(ngModel)]='filterEntryBookList' (input) = 'filterEntryBook(entryBookInput.value)'
      />
    </div>
</div>

<div class='table-responsive'>
  <table class='table table-light table-bordered table-style' 
    *ngIf='filteredEntry && filteredEntry.length'>
    <thead>
      <tr>
        <th> Name</th>
        <th> Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor = "let col of filteredEntry">
          <td scope="row" (click) = "OnPersonClick(col.personName)" >{{col.personName}}</td>
          <td class ='listItem'>{{col.phoneNo | appendCodePipe:"+27"}}</td>       
      </tr>
    </tbody>
  </table>
</div>